.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.heading {
  font-family: 'Lobster';
}
.language-filter-container {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.repository-container {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}
.failure-view {
  width: 80%;
  max-width: 500px;
}
.failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
