.list-item {
  margin-bottom: 8px;
}

.language-button {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 18px;
  border: none;
  color: #0f172a;
  padding: 5px 16px;
  flex-shrink: 0;
  cursor: pointer;
  outline: none;
  margin-right: 15px;
  /* border: 1px solid blue; */
  font-weight: bold;
}
@media screen and (max-width: 567px) {
  .language-button {
    font-size: 13px;
    padding: 2px 12px;
  }
}

.activeTabClass {
  border: 1px solid #0284c7;
  color: #0284c7;
  border-radius: 20px;
}
